@mixin form-input($width, $color:skyblue) {
  display: block;
  width: $width;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: $color;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius:0px!important;
  -moz-border-radius:0px!important;
  border-radius:0px!important;
}