.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  display: inline-block;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}
